body{
	background-color: white;
	font-family: "ClassicGrotesqueW01-Rg", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
	font-size: 12px;
	vertical-align: baseline;
	outline: 0;
}

/* time zone */
#timeupdate{
	text-align: right;
}

/* map style */
#map { height: 600px; }

/* legend area */
#legend {
	height: 25px;
	margin-left: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	background-image: linear-gradient(left, blue, green 45%, yellow 90%, red);
	background-image: -webkit-linear-gradient(left, blue, green 45%, yellow 90%, red);
}

#legend .span1{
	color: white;
}

#legend .offset9{
	color: black;
	text-align: right;
}

